# Node modules
node_modules
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*
/*.log
/logs/

# dotenv environment variables file (do not commit secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# uploads files
uploads

# Coverage directory used by testing tools
coverage/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Ignore macOS system files
.DS_Store

# Ignore editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Ignore build artifacts
/build
/dist

# Ignore Docker and CI/CD specific files
docker-compose.override.yml
